# This file stores a series of secret values.
# Maintainer. Ra Daesung (daesungra@gmail.com)


VERSION: 0.0.5

AUTH:  # Authentication of each app
  reservation:  # iwannayeyak_bot's auth info
    seoul.yeyak.id:  # seoul_yeyak id
    seoul.yeyak.password:  # seoul_yeyak password

APPS:  # value by application
  reservation:  # iwannayeyak_bot's info
    telegram.bot.API_TOKEN:  # bot's API_KEY
    telegram.webhook.SEND_URL:  # request url to telegram bot
    telegram.webhook.STATUS:  # Webhook status
    telegram.webhook.RECEIVE_URL:  # receive url from telegram bot

DB:
  redis:
    host:  # host of redis server
    port:  # port of redis server
    ttl:  # TTL for chat session

VAL:
  seoul.yeyak:
    chrome:
      url:  # seoul_yeyak url
      xpath.lang_tit:
      xpath.lang_kor:
      xpath.lang_eng:
      xpath.btn_login:
      xpath.btn_login_submit:
      xpath.btn_logout:
      xpath.input_userid:
      xpath.input_password:
      xpath.select_facility_type:
      xpath.select_facilities:
    firefox:
      url:  # seoul_yeyak url
      xpath.lang_tit:
      xpath.lang_kor:
      xpath.lang_eng:
      xpath.btn_login:
      xpath.btn_login_submit:
      xpath.btn_logout:
      xpath.input_userid:
      xpath.input_password:
      xpath.select_facility_type:
      xpath.select_facilities:
  selenium:
    path.chromedriver:  # string path of chromedriver
    path.geckodriver:  # string path of geckodriver for firefox

