# This file stores a series of secret values.
# Maintainer. Ra Daesung (daesungra@gmail.com)


VERSION: 0.0.2

APPS:  # value by application
  reservation:  # iwannayeyak_bot's info
    telegram.bot.API_TOKEN:  # bot's API_KEY
    telegram.webhook.SEND_URL:  # request url to telegram bot
    telegram.webhook.STATUS:  # Webhook status
    telegram.webhook.RECEIVE_URL:  # receive url from telegram bot

DB:
  redis:
    host:  # host of redis server
    port:  # port of redis server
